.DS_Store
.vscode

# Optional npm cache directory
.npm

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

tsconfig.tsbuildinfo
lib/
node_modules/
